extends ../../_layouts/parallax
block config
  - var baseUrl = "../../"
  - var active = "Services"

block content
  div#exec-travel.hero
    img.img-responsive(src='/images/hero/exec-header.jpg')
  #hero-unit.row.black
    .col-xs-12.text-center
      h1.title(style="padding: 4rem 0;") Executive Shuttle and Group Transportation
  .row
    .container
      each tour in site.data.grouptravel
        .row.gray.border-top.tour
          .col-xs-12.col-md-4.pull-right
            .thumbnail
              img.img-responsive(src="#{baseUrl + tour.image.url}", alt="#{tour.title}")
          .col-xs-12.col-md-8.pull-left
            h3.title
              = tour.title
            p.lead(style="padding-bottom: 3rem;padding-right:5rem")
             = tour.description
      .row.border-top
