// footer styles
#footer, .footer {
  background-color: $black;
}

.footer {
  height: 30rem;
  @include media("<desktop") {
    padding: 13.5% 1rem 0 1rem;
  }
  @include media(">desktop") {
    padding: 7.5% 1rem 0 1rem;
  }
  h4.text-uppercase {
    font-family: $raleway;
  }
}
a.social {
  height: 32px;
  width: 32px;
}
