mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  div.row.footer.text-center(class=spec.__class)&attributes(attributes)
    .col-xs-4
      h4.text-uppercase Follow Us
      ul.list-unstyled.list-inline
        li
          a.social(href="/")
            img.img-responsive(src="/images/social/facebook.png")
        li
          a.social(href="/")
            img.img-responsive(src="/images/social/twitter.png")
        li
          a.social(href="/")
            img.img-responsive(src="/images/social/linkedin.png")
        li
          a.social(href="/")
            img.img-responsive(src="/images/social/instagram.png")
        li
          a.social(href="/")
            img.img-responsive(src="/images/social/pinterest.png")

    .col-xs-4
      h4.text-uppercase
        a(href="/contact") Contact Us
      p.lead
        a(href="tel://1-888-781-5466") 888.781.5466
      p.lead.text-uppercase
        a(href="mailto:reserve@stracktransportation.com") E-MAIL RESERVATION
      p.lead.text-uppercase careers
    .col-xs-4
      h4.text-uppercase Get the App

      +appstorelinks
  .row.text-center
    .col-xs-6
      small &reg; Copyright
        span#year
        |  All Rights Reserved.
    .col-xs-6
      small
        +link(href="/terms") Terms &amp; Conditions
        span.gray &nbsp;|&nbsp;
        +link(href="/privacy") Privacy Policy

