// footer styles
.footer {
  background-color: $black;
  height: 30rem;
  padding: 13.5% 1rem 0 1rem;
  h4.text-uppercase {
    font-family: $raleway;
  }
}
a.social {
  height: 32px;
  width: 32px;
}
