// carousel styles

.carousel:not(#carousel-fleet) {
  .caption {
    bottom: 0;
    left: 0;
    //@include media("<=tablet") {
    margin-top: $navbar-height;
    //}
    //@include media(">tablet") {
    //  margin-top: 13.5%;
    //}
    //@include media(">desktop") {
    //  margin-top: 20%;
    //}
    padding: 2rem 4rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  .title, .btn {
    font-family: $raleway;
  }
  .title {
    color: $black;
  }
  .btn {
    background-color: rgba(0, 0, 0, .8);
    color: $white;
  }
  .title {
    @include media('>=tablet') {
      font-size: 6.5rem;
      line-height: 6.5rem;
    }
    @include media('>desktop') {
      font-size: 10rem;
      line-height: 10rem;
    }
  }
}

#carousel-fleet .item img {
  max-height: 35rem;
  margin: 0 auto;
}

i.fa.fa-chevron-circle-left,
i.fa.fa-chevron-circle-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}


