extends ../_layouts/parallax

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var active = "Services"

block content
  #hero-unit.row.row-centered
    .col-xs-12(style="margin-top:6rem")
      img.img-responsive(src='/images/hero/services-header.jpg')
  #services.row.black
    .container
      .row
        .col-md-12
          h1.title(style="padding: 4rem 0;") Strack Worldwide
          h4.gray Our mission is to make traveling easier and more productive for our guests.
          p.lead From Los Angeles to Hong Kong and everywhere in between, Strack Ground provides you with seamless transportation worldwide.
          p.lead Whether we are transporting one person or 500, we can accommodate your needs with the latest luxury driven vehicles, onboard Wi-Fi and complimentary bottled water.
          p.lead How we can make your travels easier and more productive around the world?

      .row.row-centered(style="padding-bottom: 4rem;")
        .col-sm-12.col-md-6.col-centered
          p
            a.service-link.special-occasions(href="/services/tours-special-events/") Special Occasions
        .col-sm-12.col-md-6.col-centered
          p
            a.service-link.group-transport(href="/services/group-executive-travel/") Group Transport
