extends ../_layouts/parallax

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var active = "Groups";

block content
  #hero-unit.row
    .col-xs-12
      img.img-responsive(src='/images/groups/hero-unit.png', class='hero-unit')
  #groups.row.text-center.black.row-centered
    .col-xs-12
      h1 Executive Shuttle and Group Transportation

  .row-centered.row.border-top.black
    .col-xs-6
      h3 Integrations with POW WOW Smart
      p.lead Designed for Meeting and Event Planners, our SMART ground travel management applications provide the power to effectively plan, analyze, design, forecast, and modify manifests for all types of groups and events.
    .col-xs-6
      img.pull-right.img-responsive(src="/images/groups/powwow.png")
  .row-centered.row.border-top.black
    .col-xs-6
      h3
        | Meeting Staff
        small - a seamless experience
      p.lead Strack Meeting Staff will be deployed on the ground to help make things work seamlessly for your event or group transportation needs.  Equipped with ipads and full manifests for your group the meeting staff presents a professional warm smile to assist in getting your guests where they need to go. Strack Ground also is equipped to check in the VIP's notifying the meeting planner when contact has been made so they may focus on more important things.
    .col-xs-6
      img.pull-right.img-responsive(src="/images/groups/meetingstaff.png")
  .row-centered.row.border-top.black
    .col-xs-6
      h3 Special Attention Items
      p.lead Marketing Materials, Branded Snacks and more can be arranged to be placed in the vehicles for your group or special events.  The first impression to your guests sets the mood for the entire event, Let Strack Ground deliver on these details to create a memorable event.
    .col-xs-6
      img.pull-right.img-responsive(src="/images/groups/specialattn.png")
  .row-centered.row.border-top.black
    .col-xs-6
      h3 Marketing Opportunities
      p.lead The Strack Ground fleet consists of large moving vehicles that represent marketing space for your corporate function event.  Have vehicle clings or vehicle wraps installed on the vehicles as they shuttle around a city-wide convention.  Get that extra exposure for your upcoming executive shuttle needs.

    .col-xs-6
      img.pull-right.img-responsive(src="/images/groups/marketing-ops.png")
  .row-centered.row.border-top.black
    .col-xs-6
      h3 Site Inspections
      p.lead Strack Ground can help with your core team arriving in town and handling multiple venue inspections.  Providing VIP vehicles like an Executive Van to show the group multiple venues and the city itself.  Strack is here to welcome you into town and show you the best we have to offer.
    .col-xs-6
      img.pull-right.img-responsive(src="/images/groups/siteinspections.png")
