include ../_modules/header/header
include ../_modules/navbar/navbar
include ../_modules/startchange/startchange
include ../_modules/carousel/carousel
include ../_modules/footer/footer
include ../_modules/appstorelinks/appstorelinks

//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || '/'

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')
  body.fade.out
    #main.container-fluid
      block navbar
        +navbar
      +startchange
      block content
        .row
          .container
            yield
      block footer
        .row#footer
          .container
            +footer
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
      script(src=baseUrl + "libs/bootstrap-sass/assets/javascripts/bootstrap.js")
      script(src=baseUrl + "scripts/main.js")
