// Base configuration
@import '../libs/normalize-css/normalize.css';
@import '../libs/include-media/dist/include-media';
@import 'typography';
@import 'variables';
@import '../libs/font-awesome/scss/font-awesome';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'animate';
@import 'zindex';
@import 'parallax';
// Normalize Styles
@import url($ga-font-path);
// Import Modules
@import '../_modules/appstorelinks/appstorelinks';
@import '../_modules/link/link';
@import '../_modules/footer/footer';
@import '../_modules/header/header';
@import '../_modules/carousel/carousel';
@import '../_modules/navbar/navbar';

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

body #main {
  color: $white;
  .row.border-top {
    border-top: 1px solid $black;
    padding: 2rem 0;
    &.tour {
      padding: 4rem;
    }
  }
  .black {
    color: $black;
  }
  button.btn.btn-strack, a.btn.btn-strack {
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid $black;
    color: white;
    display: block;
    font-family: "Raleway Bold", sans-serif;
    padding: 1rem 2rem;
    @include media('<tablet') {
      font-size: 1.5rem;
    }
    @include media('>desktop') {
      font-size: 2.5rem;
    }
    text-transform: uppercase;
  }

  .center-xs {
    text-align: center;
  }

  .gray-bg {
    background-color: $dark-gray;
    p.lead {
      margin: 8.88rem 2.22rem;
      text-align: right;
    }
  }
  .ceo #quote {
    margin-right: 40px;
    margin-top: $navbar-height + 25px;
    text-align: right;
    .quote {
      padding: 1rem;
    }
  }
  .ceo img.hero-unit{
    padding-top: 12rem;
  }
  #hero-unit.row {
    #quote {
      align-items: center;
      display: flex;
      flex-flow: column;
      //height: 50rem;
      justify-content: center;
    }
    p.quote {
      font-family: "Raleway Light", "Raleway", sans-serif;
      font-size: 3rem;
    }
  }
  #about {
    @include media(">tablet") {
      margin: 4rem;
    }
    @include media(">phone", "<tablet") {
      margin: 2rem;
    }
  }
  #services {
    text-align: center;
  }
  a.service-link {
    background-clip: padding-box;
    color: $black;
    display: block;
    font-size: 4rem;
    height: 280px;
    line-height: 260px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease;
    width: 480px;
    &:hover {
      color: $gray;
    }
  }
  .app-cta {
    img.screenshot {
      margin: 0 auto;
    }
  }
  #app {
    margin: $navbar-height 0;
    a.app-store-link {
      @include media('>=desktop') {
        height: 40px;
        width: 135px;
      }
      display: inline-block;
      padding: .3em;
      img {
        height: 40px;
        width: 135px;
      }
    }
  }
  a.special-occasions {
    background: url('/images/services/special-occasions.png') no-repeat 50% 50%;
  }
  a.group-transport {
    background: url('/images/services/group-transport.png') no-repeat 50% 50%;
  }
}

.chauffeurs-img {
  max-height: 25rem;
}

#app {
  .align-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60rem;
  }
}

.btn {
  text-transform: uppercase;
  &.btn-default {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
    padding: 1rem 5rem;
    transition: all 0.3s ease;
    &:hover {
      background-color: $black;
    }
  }
}
