@mixin content-block($background: #eee) {
  margin-bottom: 0;
  color: inherit;
  background: $background;
  h1, .h1 {
    color: inherit;
  }
  p {
    margin-bottom: .75rem;
  }
  > hr {
    border-top-color: $light-gray;
  }
  .container {
    max-width: 100%;
  }
}

@mixin content-space($background: url(http://placehold.it/1200x650/0033cc/ffffff) no-repeat center center fixed) {
  margin-bottom: 0;
  color: inherit;
  background: $background;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1rem 0;
}


.content-block-one {
  @include content-block($black);
}
.content-block-two {
  @include content-block(url('/images/sunset-car.png') no-repeat center center fixed);
}

.content-space-one, .content-space-three {
  @include content-space($background: url('/images/LeatherHoles-Plain.png') no-repeat center center fixed);
}

.content-space-five {
  @include content-space($background: #910508);
  height: 1em;
}

.content-space-two {
  @include content-space($background: $white no-repeat left center fixed);
}

.page-break {
  background-color: $white;
  height: 3px;
  margin: 0 auto;
  width: 50%;
}

h1.title {
  color: $white;
  font-family: $gotham;
}

.app-shots {
  background-image: url('/images/ai/app-screenshots.png');
  background-repeat:no-repeat;
  background-position: top left;
  background-size: contain;
  width: 100%;
  height: 35rem;
  float: left;
}

.cta-app {
  float: right;
  width: 50%;
}

#svg-filter { display: none; }

.blur { display: block; width: 90%; }

.blur {
  -webkit-filter: url(#svg-blur);
}
