// link styles

// unvisited link
a:link {
  color: $gray;
}

// visited link
a:visited {
  color: darken($brand-primary, 13.5%);
}

// mouse over link
a:hover {
  color: lighten($brand-primary, 13.5%);
}

// selected link
a:active {
  color: $orange;
}
