extends ../../_layouts/parallax

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var active = "About your Chauffeurs";

block content
  .row.gray-bg
    .col-xs-12.col-md-12
      img.img-responsive(src='/images/about/chauffeurs/hero-unit.png', class='hero-unit')
  .row.black.text-center
    .col-xs-12(style="padding-top: 5rem")
      h1.title Our Strack Quality Chauffeur Team
      h3.title Introducing the best chauffeurs in the business.
  .row.black.text-center(style="padding-bottom: 5rem")
    .col-xs-12
      br
      span Criminal background and security check by a certified agency or equivalent
      br
      span Pre-hire drug testing and random testing program, when required by USDOT
      br
      span Driver training program that includes driver duties, customer service, safety and defensive driving skills
      br
      span Certified medical examination, as required by local, state and federal regulations
      br
      span Proper supervision, retraining and discipline when appropriate

  .chauffuers.row.black.text-center
    each driver in site.data.drivers
      .col-lg-4.col-sm-4.col-xs-6
        .thumbnail
          img.chauffeurs-img.img-responsive(src="#{baseUrl + driver.url}")
          .caption
            = driver.name
