extends ../_layouts/parallax

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var active = "About";

block content
  #hero-unit.row.gray-bg
    .col-xs-12.col-md-4#quote
      p.quote "We have some of the best clients around, it is truly a joy to work with so many successful clients that have become mentors and great friends!” – Matthew Strack
    .col-xs-12.col-md-8
      img.img-responsive(src='/images/about/hero-unit.png', class='hero-unit')
  #about.row.text-center.black.row-centered
    .col-xs-12
      h1 A Word from Matthew Strack
      h3 CEO of Strack Ground Transportation
      h3 Idea.
      p.lead People often ask how I got involved in the luxury transportation industry. And, in truth, I say it was by accident! In 2005, I was working ceaselessly to support a new business venture and decided to start driving limousines to help supplement income. Shortly after I began driving, the owner offered the chance for me to buy the company. A limousine company was the last thing I wanted to own but I made an offer.

      p.lead And with this unlikely story, Strack Chauffeured Transportation was formed. Starting out, I spent a lot of time watching our competitors; analyzing what they were doing right and where they fell short. I quickly realized the opportunity to establish a niche in the market by offering a consistently reliable, premium level of service. Utilizing my experience in business development and knowledge of financial services, I constructed a progressive, client-focused model of luxury transportation.

      h3 Innovation.
      p.lead Initially, my vision was simple: deliver reliable service, build a network of client referrals and establish long-term clientele. But the company'92s growth quickly surpassed anything I could have envisioned. We grew from a one-man operation, to a full-scale company with an around the clock staff

      h3 Integrity
      p.lead This period of rapid growth prompted me to define and expound my original vision for Strack. I wanted to bolster progress and expansion, but also preserve our core values. Drawing from successful business models like Disney, Nordstroms, and 3M, I formed Strack'92s mission and and core values.
      h3 Core Values
      p.lead Integrity in everything we do
      p.lead Excellence in reputation
      p.lead Fanatical attention to detail
      p.lead Delivering “ease” at every opportunity

     p.lead Mr. Strack studied at UCLA earning a Bachelor'92s degree in Economics then working in finance with companies such as Morgan Stanley. An entrepreneur at heart, Mr. Strack has claimed his passion as business and creating products and services that clients love and embrace.
