// appstorelinks styles
.content-space-two
.app-store-link-container {
  float: none;
  margin: 0 auto;
}

.app-store-link-container {
  @include media('>=desktop') {
    width: 50%;
  }
  @include media('<=tablet') {
    margin: 0 auto;
    float: none;
  }
  margin: 0 7rem;
  a.app-store-link {
    @include media('>=desktop') {
      height: 40px;
      width: 135px;
    }
    display: inline-block;
    padding: .3em;
    img {
      height: 40px;
      width: 135px;
    }
  }
}
