extends ../_layouts/parallax

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var active = 'Fleet'

block content
  #fleet.row.black
    .col-xs-12
      img.img-responsive(src="/images/Lincoln MKS Ext.jpg")

  .row.row-centered.black
    .col-xs-12
      h1 Meet your fleet
      h3 Extensive. Luxurious. Dependable.
  each item in site.data.fleet
    .row.border-top
      .container
        .row.black
          .col-xs-4
            h4.title
              = item.name
            span.lead.small
              = item.type
            ul.list-plain(style="padding-top: 2rem")
              li Complimentary Water
              li Onboard Wi-Fi
            a.btn.btn-default(href="/reservations") Book This Ride
          .col-xs-8
            img.img-responsive(src="#{item.image.url}")
