extends _layouts/base

include _modules/link/link

block content
  .row.home.hero-unit.middle-xs
    .col-xs-4.col-lg-6
      h3 Now You've Arrived
      div.cta-btn
        button.btn Book Your Reservation
    .col-xs-8.center-xs.middle-xs
      iframe(width="480", height="315", src="https://www.youtube.com/embed/JwTU4JS1kso", frameborder="0", allowfullscreen)

  .row.one
    .col-xs.center-xs
      h3 Luxury at every turn
      p From Los Angeles to Hong Kong and everywhere in between, Strack provides you with seamless transportation worldwide. Whether we are transporting one person or 200, we accommodate your needs with the latest luxury driven vehicles, onboard Wi-Fi and complimentary bottled water.
      p
        img.logo(src= baseUrl + "images/ai/logo.svg", alt="Strack Ground Logo", height="75")
  .row.two
    .col-xs
      .exterior
    .col-xs-6
      .mask
        .interior
      h3 Meet your fleet
      p a carousel
      button.btn Book this ride
  .row.three.center-xs
    h3 An app that is going places
  .row.four.center-xs
    .col-xs-12
      h3 At your service
      .row
        .col-xs-6
          ul
            li 24-hour Customer Service & Reservation Support
            li Integration With Your Travel Management Company
            li All-inclusive Rates, Including Taxes, Fuel, And Gratuity
            li Instant Email Confirmation With Reservation
        .col-xs-6
          ul
            li Alerts With Chauffeur Name And Cell Phone Number
            li Highly Trained And Experienced Staff
            li GPS Tracking In All Company Vehicles
            li Flight Tracking For Prompt Airport Transfers
  .row.five.center-xs
    .col-xs
      h3 Tours and Special Events
      .row
        .col-xs-6
          p back of a car
        .col-xs-6
          p
            From shopping to sightseeing and everything in between we have the tour to make your day.
            +link(href="/fleet") Learn More

  .row.six.center-xs
    .col-xs
      h3 Executive Shuttle and Group Transportation
      .row
        .col-xs-6
          p another picture
        .col-xs-6
          p Offering the latest in Vans to MotorCoaches paired with its Meeting Staff on the ground transportation for your event will no longer be a worry.
          ul
            li Convention Shuttles and Transfers
            li Corporate Event and Shuttles
            li Group Management Arrivals/Departures
            li PowWow Smart Integration
